<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Articles">
    <classes>
    	<class name="Articles.TM_JOOMLA_ARTICLE_001"/>
    </classes>
  </test> <!-- Test -->
  <test name="Contacts">
    <classes>
      	<class name="Contacts.TM_JOOMLA_CONTACT_001"/>
      	<class name="Contacts.TM_JOOMLA_CONTACT_002"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->